<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.jclouds">
  <resources>
    <resource-root path="animal-sniffer-annotations-1.17.jar"/>
    <resource-root path="aopalliance-1.0.jar"/>
    <resource-root path="checker-qual-2.5.2.jar"/>
    <resource-root path="error_prone_annotations-2.2.0.jar"/>
    <resource-root path="failureaccess-1.0.1.jar"/>
    <resource-root path="gson-2.8.9.jar"/>
    <resource-root path="guava-27.1-jre.jar"/>
    <resource-root path="guice-5.0.1.jar"/>
    <resource-root path="guice-assistedinject-5.0.1.jar"/>
    <resource-root path="j2objc-annotations-1.1.jar"/>
    <resource-root path="jakarta.activation-1.2.2.jar"/>
    <resource-root path="jakarta.xml.bind-api-2.3.3.jar"/>
    <resource-root path="javax.annotation-api-1.2.jar"/>
    <resource-root path="javax.inject-1.jar"/>
    <resource-root path="javax.ws.rs-api-2.0.1.jar"/>
    <resource-root path="jaxb-impl-2.3.3.jar"/>
    <resource-root path="jsr305-3.0.2.jar"/>
    <resource-root path="listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar"/>
    <resource-root path="atmos-${jclouds.version}.jar"/>
    <resource-root path="aws-s3-${jclouds.version}.jar"/>
    <resource-root path="azureblob-${jclouds.version}.jar"/>
    <resource-root path="b2-${jclouds.version}.jar"/>
    <resource-root path="filesystem-${jclouds.version}.jar"/>
    <resource-root path="glacier-${jclouds.version}.jar"/>
    <resource-root path="googlecloud-${jclouds.version}.jar"/>
    <resource-root path="google-cloud-storage-${jclouds.version}.jar"/>
    <resource-root path="jclouds-allblobstore-${jclouds.version}.jar"/>
    <resource-root path="jclouds-blobstore-${jclouds.version}.jar"/>
    <resource-root path="jclouds-core-${jclouds.version}.jar"/>
    <resource-root path="jclouds-slf4j-${jclouds.version}.jar"/>
    <resource-root path="oauth-${jclouds.version}.jar"/>
    <resource-root path="openstack-keystone-${jclouds.version}.jar"/>
    <resource-root path="openstack-swift-${jclouds.version}.jar"/>
    <resource-root path="rackspace-cloudfiles-${jclouds.version}.jar"/>
    <resource-root path="rackspace-cloudfiles-uk-${jclouds.version}.jar"/>
    <resource-root path="rackspace-cloudfiles-us-${jclouds.version}.jar"/>
    <resource-root path="rackspace-cloudidentity-${jclouds.version}.jar"/>
    <resource-root path="s3-${jclouds.version}.jar"/>
    <resource-root path="sts-${jclouds.version}.jar"/>
  </resources>

  <dependencies>
    <module name="org.slf4j"/>
  </dependencies>
</module>
