<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.jclouds.blobstore">
    <resources>
        <resource-root path="jclouds-blobstore-${version}.jar"/>
        <resource-root path="atmos-${version}.jar"/>
        <resource-root path="aws-s3-${version}.jar"/>
        <resource-root path="azureblob-${version}.jar"/>
        <resource-root path="cloudfiles-${version}.jar"/>
        <resource-root path="cloudfiles-uk-${version}.jar"/>
        <resource-root path="cloudfiles-us-${version}.jar"/>
        <resource-root path="filesystem-${version}.jar"/>
        <resource-root path="hpcloud-objectstorage-${version}.jar"/>
        <resource-root path="openstack-common-${version}.jar"/>
        <resource-root path="openstack-keystone-${version}.jar"/>
        <resource-root path="openstack-swift-${version}.jar"/>
        <resource-root path="s3-${version}.jar"/>
        <resource-root path="sts-${version}.jar"/>
        <resource-root path="swift-${version}.jar"/>
        <resource-root path="java-xmlbuilder-0.4.jar"/>
    </resources>

    <dependencies>
        <module name="org.apache.jclouds.core"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
