<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.jclouds.core">
    <resources>
        <resource-root path="jclouds-core-${jclouds.version}.jar"/>
        <resource-root path="jclouds-slf4j-${jclouds.version}.jar"/>
        <resource-root path="aopalliance-1.0.jar"/>
        <resource-root path="gson-2.5.jar"/>
        <resource-root path="guice-3.0.jar"/>
        <resource-root path="guice-assistedinject-3.0.jar"/>
        <resource-root path="javax.inject-1.jar"/>
        <resource-root path="jsr250-api-1.0.jar"/>
        <resource-root path="jsr311-api-1.1.1.jar"/>
    </resources>

    <dependencies>
        <module name="org.slf4j"/>
        <module name="javax.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="com.google.guava"/>
    </dependencies>
</module>
